# Python
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/

# Data & Models (too large for GitHub)
data/raw/
models/

# Environment
.env
*.env

# MLflow
mlruns/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/